# IntelliJ IDEA Project Files
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dbnavigator.xml

# Java folders
*.class
*.jar
*.war
*.ear
target/
